<?xml version="1.0" encoding="UTF-8"?>
<config>
  <coreXml>/etc/hadoop/conf/core-site.xml</coreXml>
  <hdfsXml>/etc/hadoop/conf/hdfs-site.xml</hdfsXml>
  <hiveXml>/etc/hive/conf/hive-site.xml</hiveXml>
  <userKeytab>/home/neil/neil.keytab</userKeytab>
  <src>/home/neil/movie_metadatav</src>
  <dest>/user/neil/movie_metadata</dest>
  <tableType>internal</tableType>
  <isHeaders>yes</isHeaders>
  <delimiter>,</delimiter>
  <quoteChar>"</quoteChar>
  <escapeChar>\</escapeChar>
  <dbTable>default.movie_metadata</dbTable>
  <thriftServer>localhost:10011/default</thriftServer>
</config>